body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    margin: 80px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

input {
    width: 63%;
    padding: 20px;
    font-size:16px;
}

button {
    padding: 20px;
    font-size: 14px;
    cursor: pointer;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.delete-btn {
    background-color: #ff4d4d;
}

.delete-btn:hover {
    background-color: #e60000;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

li {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

li div {
    display: flex;
    align-items: center;
    gap: 10px;
}